@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Josefin+Sans&family=Rubik&display=swap');

/* 
font-family: 'Antic Didone', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Rubik', sans-serif; 
*/

:root {
    --font-primary: "Antic Didone";
    --font-secondary: "Josefin Sans";
    --font-accent: "Rubik";
    --color-primary: #F7EEDF;
    --color-secondary: #8AAACB;
    --color-accent: #8B615E;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--font-secondary);
}

html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-accent);
}


/* ============================ Reseaux sociaux ============================ */

.RS {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    bottom: 50%;
    left: 20px;
    gap: 20px;
    z-index: 1022;
}

.RS a {
    cursor: pointer;
    color: black;
}

#btnInsta:hover {
    color: pink;
}

#btnFb:hover {
    color: blue;
}

#btnYt:hover {
    color: red;
}


/* ============================ LandingPage ============================ */

#landingPage {
    height: 100vh;
    position: relative;
}

#landingPage .bandeauTop {
    position: relative;
    z-index: 1;
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
}

#landingPage .bandeauTop:first-child {
    padding-left: 5%;
}

#landingPage .bandeauTop:last-child {
    padding-right: 5%;
}

#landingPage nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#landingPage nav ul li a {
    color: var(--color-primary);
}

#landingPage .wrapperRight {
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    background-color: var(--color-accent);
}

#landingPage .title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
}

#landingPage .title h1 span {
    font-family: var(--font-primary);
}

#landingPage .title p {
    line-height: 2em;
}

#landingPage .container {
    padding-top: 5em;
}

.scrollBot {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 20px;
    cursor: pointer;
    font-size: 2em;
}


/* ============================ Test ============================ */

.test2 {
    height: 100vh;
    background-color: var(--color-accent);
}