@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Josefin+Sans&family=Rubik&display=swap');

/* 
font-family: 'Antic Didone', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Rubik', sans-serif; 
*/

:root {
    --font-primary: "Antic Didone";
    --font-secondary: "Josefin Sans";
    --font-accent: "Rubik";
    --color-primary: #F7EEDF;
    --color-secondary: #8AAACB;
    --color-accent: #8B615E;
    --color-accent-hover: #8b615ed0;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--font-secondary);
}

html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-accent);
}


/* ============================ Init Bootstrap ============================ */

.btn-primary {
    background-color: var(--color-accent) !important;
    border-color: var(--color-accent) !important;
}

.btn-primary:hover {
    background-color: var(--color-accent-hover) !important;
    border-color: var(--color-accent-hover) !important;
}

.btn-primary:active {
    background-color: var(--color-accent-hover) !important;
    border-color: var(--color-accent-hover) !important;
}

.btn-primary:focus {
    background-color: var(--color-accent-hover) !important;
    border-color: var(--color-accent-hover) !important;
    box-shadow: 0 0 0 .2rem var(--color-accent-hover) !important;
}


/* ============================ Top Nav Bar ============================ */

.bandeauTop {
    position: relative;
    z-index: 1;
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
}

.bandeauTop:first-child {
    padding-left: 5%;
}

.bandeauTop:last-child {
    padding-right: 5%;
}

nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li a {
    color: var(--color-primary);
}


/* ============================ Reseaux sociaux ============================ */

.RS {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    bottom: 50%;
    left: 20px;
    gap: 20px;
    z-index: 1022;
    font-size: 1.5em;
}

.RS a {
    cursor: pointer;
    color: black;
}

#btnInsta:hover {
    color: pink;
}

#btnFb:hover {
    color: blue;
}

#btnYt:hover {
    color: red;
}


/* ============================ Btn Retourner en haut ================== */

#topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
    font-size: 2em;
}

#topBtn:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}


/* ============================ LandingPage ============================ */

#landingPage {
    height: 100vh;
    position: relative;
}

.bandeauTop {
    position: relative;
    z-index: 1;
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
}

.bandeauTop:first-child {
    padding-left: 5%;
}

.bandeauTop:last-child {
    padding-right: 5%;
}

nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li a {
    color: var(--color-secondary);
}

#landingPage .wrapperRight {
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    background-color: var(--color-accent);
}

#landingPage .title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
}

#landingPage .title h1 span {
    font-family: var(--font-primary);
}

#landingPage .title p {
    line-height: 2em;
}

#landingPage .container {
    padding-top: 5em;
}

.scrollBot {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 20px;
    cursor: pointer;
    font-size: 2em;
}


/* =========================== Page Team ==========================*/

#team {
    height: 100vh;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
}

.scrollBtn {
    display: flex;
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    top: 192%;
    left: 50%;
}

.notrequipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.notrequipe p {
    max-width: 40%;
    position: relative;
    text-align: center;
}

.rsCards {
    display: flex;
    justify-content: space-around;
    max-width: 30%;
}


/* ============================ Page 3 ============================ */

#botPage {
    height: 100vh;
    background-color: var(--color-accent);
}

.rowCarousel {
    padding-top: 10%;
}

.magasin {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 10em;
}

.rowShop {
    padding-top: 10%;
}


/* =========================== Page Contact ==========================*/

#contact {
    position: relative;
    display: grid;
    grid-template-areas: "topBar" "FormContact";
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, max-content) 1fr;
    height: 100vh;
}

#contact .bandeauTop {
    grid-area: topBar;
}

#contact .form-container>div {
    padding: 2rem;
}

#contact .form-container h2 {
    padding: 0 0 1rem 0;
}

#contact .colInfoContact {
    background-color: var(--color-accent);
}

#contact .infoContact {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-primary);
}

#contact .infoContact a {
    color: var(--color-primary);
}

#contact .infoContact a span {
    padding: 0 1rem 0 0;
}

#contact .infoContact a span i {
    font-size: 1.2rem;
}

#contact .form-container {
    grid-area: FormContact;
    align-self: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}